* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-width: 900px;
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.container {
    width: 1070px;
    min-width: 900px;
    margin: 0 auto;
}

.between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.between > ul > li {
    list-style: none;
    display: inline;
    height: 40px;
}

.space {
    margin-left: 16px;
}

.spaceHeader:hover {
    cursor: pointer;
}

.icons {
    margin-left: 60px;
}

.menu:nth-child(5) .menuBox a strong {
    border-bottom: 3px solid #f2b71d;
}

.menu {
    display: flex;
    height: 30px;
}
.menuBox {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.menuBox > a {
    text-decoration: none;
    color: black;
    margin-left: 15px;
}

.redNew {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 25px;
    height: 10px;
    background-color: red;
    color: white;
    font-size: 10px;
}

.menu:nth-child(3) .menuBox .redNew {
    display: flex;
}

.banner {
    width: 100%;
    min-width: 900px;
    height: 600px;
    background-image: url('../img/slide-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 60px;
}

.banner > .container  {
    position: relative;
    height: 100%;
}

.bannerText {
    position: absolute;
    width: 350px;
    right: 0;
    top: 150px;
    background:rgba(255, 255, 255, 0.5);
}

.bannerText h1 {
    font-size: 40px;
}

.bannerText p {
    font-size: 15px;
}

.saleBanner {
    position: relative;
    background-color: #ebb024;
    height: 150px;
    width: 1000px;
    bottom: 105px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.saleBannerLeft {
    display: flex;
    justify-content: center;
    width: 50%;
    color: black;
    flex-direction: column;
}

.emailBar {
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.saleBannerLeft input, .saleBannerLeft button {
    padding: 15px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.saleBannerLeft input {
    width: 85%;
    margin-left: 10px;
    padding-right: 50px;
}

.saleBannerLeft button {
    position: absolute;
    right: 10px;
    background-color: #03609f;
    color: white;
}

.saleBannerLeft button:hover {
    cursor: pointer;
}

.saleBannerRight {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.info {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.infoLeft {
    max-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.infoRight {
    max-width: 50%;
    line-height: 30px;
    font-size: 15px;
}

.background {
    background-color: #bcbcbc;
    width: 100%;
    padding-top: 20px;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cardImage {
    position: relative;
    height: 162px;
}

.cardImage img {
    width: 300px;
}

.cardImageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 60%;
    z-index: 1;
    display: none;
}

.specialBox {
    position: absolute;
    width: 70px;
    height: 25px;
    background-color: #ebb024;
    color: white;
    top: 10px;
    right: 10px;
    text-align: center;
    border-radius: 10px;
    z-index: 2;
    line-height: 25px;
}

.costBox {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none;
}

.card:hover .costBox, .card:hover .cardImageOverlay {
    display: block;
}

.card {
    width: 300px;
    height: 400px;
    margin: 20px;
    background-color: white;
}

.card:hover {
    cursor: pointer;
}

.cardInfo {
    height: 238px;
    text-align: center;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.cardInfo span {
    font-size: 17px;
}

.cardInfo p {
    margin-top: 15px;
    color: grey;
}


.card hr {
    width: 90%;
    margin: 10px auto;
    background-color: grey;   
}

.courseInfo {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.courseInfo span {
    font-size: 13px;
}

.courseInfo span i {
    color: #ebb024;
}

.loadMore {
    background-color: #f2b71d;
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 50px;
    border-radius: 15px;
}

.loadMore:hover {
    background-color:  #ebb024;
}

.backgroundSlide {
    width: 100%;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slideOne {
    background-image: url('../img/slider_1-1917x607-1914x606.jpg');
    position: relative;
}

.backgroundSlide .container > img {
    position: absolute;
    width: 400px;
    bottom: 0;
    left: 50%;
}

.bookText {
    position: absolute;
    top: 50px;
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 500px;
    font-size: 40px;
}

.bookText > p {
    color: white;
    font-size: 20px;
    font-style: oblique;
    text-align: center;
    margin-top: 20px;
}

.bookText > img {
    margin-top: 20px;
    width: 200px;
}

.bookText > img:hover {
    cursor: pointer;
}

.boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.box {
    display: flex;
    margin: 20px 0;
    width: 480px;
    height: 200px;
    border-left: 5px solid #f2b71d;
    padding: 15px 0;
    -webkit-box-shadow: 0px 0px 13px 6px rgba(0,0,0,0.52); 
    box-shadow: 0px 0px 13px 6px rgba(0,0,0,0.52);
}

.boxInnerLeft {
    width: 150px;
    text-align: center;
}

.boxInnerLeft > i  {
    color: #f2b71d;
    font-size: 60px;
}

.boxInnerRight {
    width: 350px;
}

.box:hover {
    background-color: #f2b71d;
}

.box:hover > .boxInnerLeft > i {
    color: white;
}

.slideTwo {
    background-image: url('../img/counter-1919x1101.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 0 20%;
}

.socialBox {
    height: 75px;
    max-width: 200pxs;
    display: flex;
    align-items: center;
    color: white;
    margin: 0 30px;
}

.socialBox > i {
    font-size: 35px;
    margin-right: 20px;
}

.studentPhotos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.studentPhotos > i {
    font-size: 30px;
}

.studentsPortrait {
    margin: 30px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portraits {
    display: flex;
    align-items: center;
}

.rating {
    margin-top: 30px;
    color: #f2b71d;
    text-align: center;
}

.rating > h3 {
    color: black;
    margin-bottom: 10px;
}

.small {
    width: 75px;
}

.big {
    width: 100px;
}

.circle {
    border-radius: 50%;
    margin:  0 10px;
}

.experience {
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
    font-style: oblique;
    line-height: 30px;
    margin-bottom: 50px;
}

footer {
    width: 100%;
    background-color: #ebb024;
}

.footerFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerWidth {
    width: 250px;
    padding: 50px 0;
}

.footerWidth > h2 {
    margin-bottom: 40px;
}

.footerWidth > p {
    font-size: 15px;
    margin: 5px 0;
}

.about > i {
    text-align: center;
    margin: 10px 20px;
}

.about > i:hover {
    color: white;
    cursor: pointer;
}

.pages > ul > li:hover p {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

.article {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 75px;
    margin: 20px 0;
}

.article > img {
    max-width: 75px;
    margin-right: 20px;
}

.articleText > p {
    color: grey;
    font-size: 15px;
}