<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Document</title>
</head>
<body>
    <div id="root">
        
        <header>
            <div class="container between">
                <img :src="logo_path" alt="">
                <div class="between">
                    <div class="menu" v-for="n in menu">
                        <div class="menuBox">
                            <a href="#"><strong>{{n}}</strong></a>
                            <div class="redNew">
                                <span>NEW</span>
                            </div>
                        </div>
                    </div>
                    <ul class="icons">
                        <li v-for="(icon, index) in icons">
                            <i class="space" :class="icons[index]"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <main>
            <!-- Banner -->
            <div class="banner">
                <div class="container">
                    <div class="bannerText">
                        <h1>Start your Human <span style="color: #f2b71d;">Revolution</span> today</h1>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which i enjoy with my whole heart</p>
                    </div>
                </div>
                <div class="saleBanner">
                    <div class="saleBannerLeft">
                        <span style="font-size: 25px; margin: 0 auto;"><strong style="color: white;">Limited Sale: </strong>All courses with 55% off</span>
                        <div class="emailBar">
                            <input placeholder="Enter your email" type="email">
                            <button>Subscribe</button>
                        </div>
                    </div>
                    <div class="saleBannerRight">
                        <div style="display: flex; justify-content: center; align-items: center; flex-flow: column;">
                            <h1 style="color: white; font-size: 40px;">26</h1>
                            <span style="color: black; font-size: 20px;">Days</span>
                        </div>
                        <div style="display: flex; justify-content: center; align-items: center; flex-flow: column;">
                            <h1 style="color: white; font-size: 40px;">01</h1>
                            <span style="color: black; font-size: 20px;">Hours</span>
                        </div>
                        <div style="display: flex; justify-content: center; align-items: center; flex-flow: column;">
                            <h1 style="color: white; font-size: 40px;">47</h1>
                            <span style="color: black; font-size: 20px;">Minutes</span>
                        </div>
                        <div style="display: flex; justify-content: center; align-items: center; flex-flow: column;">
                            <h1 style="color: white; font-size: 40px;">33</h1>
                            <span style="color: black; font-size: 20px;">Seconds</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fine Banner -->
            
            <!-- Inizio Info -->
            <div class="container">
                <div class="info">
                    <div class="infoLeft">
                        <h2>Hey there, my name is John Doe. I'm the founder of the Brain Academy</h2>
                        <img style="margin-top: 30px;" src="img/sign-184x108.jpg" alt="">
                    </div>
                    <div class="infoRight">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos praesentium deserunt saepe dolor facere libero, nostrum placeat suscipit quidem tempore, adipisci molestias. Accusantium, dolorum consequuntur ratione facilis nobis ipsa totam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam mollitia eaque aspernatur laboriosam! Ut ipsa, ducimus corporis doloribus beatae voluptatibus velit, numquam ad, dicta eligendi accusamus? Nulla saepe vero magni!</p>
                    </div>
                </div>
            </div>
            <!-- Fine Info -->

            <!-- Inizio sezione New Courses -->
            <div class="background">
                <div class="container">
                    <h1 style="text-align: center; margin: 20px 0;">New Courses</h1>
                    <div class="cards">

                        <div class="card">
                            <div class="cardImage">
                                <img src="img/photo-1496307042754-b4aa456c4a2d-370x200.jpeg" alt="">
                                <div class="cardImageOverlay"></div>
                                <div class="specialBox">
                                    <p><strong>Special</strong></p>
                                </div>
                                <div class="costBox">
                                    <h2>69$</h2>
                                </div>
                            </div>
                            <div class="cardInfo">
                                <span><strong>How to be a DJ? Make Electronic Music</strong></span>
                                <p>Electronic</p>
                                <div class="cardEnd">
                                    <hr>
                                    <div class="courseInfo">
                                        <span><i class="far fa-chart-bar"></i> Advanced</span>
                                        <span><i class="fas fa-list-ul"></i> 8 Lectures</span>
                                        <span><i class="far fa-clock"></i> 6 Hours</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="cardImage">
                                <img src="img/12345-1-370x200.png" alt="">
                                <div class="cardImageOverlay"></div>
                                <div class="specialBox">
                                    <p><strong>Special</strong></p>
                                </div>
                                <div class="costBox">
                                    <h2>69$</h2>
                                </div>
                            </div>
                            <div class="cardInfo">
                                <span><strong>Nvidia and UE4 Technologies Practice</strong></span>
                                <p>Nvidia</p>
                                <div class="cardEnd">
                                    <hr>
                                    <div class="courseInfo">
                                        <span><i class="far fa-chart-bar"></i> Advanced</span>
                                        <span><i class="fas fa-list-ul"></i> 8 Lectures</span>
                                        <span><i class="far fa-clock"></i> 6 Hours</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="cardImage">
                                <img src="img/photo-1491897554428-130a60dd4757-370x200.jpeg" alt="">
                                <div class="cardImageOverlay"></div>
                                <div class="specialBox">
                                    <p><strong>Special</strong></p>
                                </div>
                                <div class="costBox">
                                    <h2>69$</h2>
                                </div>
                            </div>
                            <div class="cardInfo">
                                <span><strong>Fashion photography from professional</strong></span>
                                <p>Fashion</p>
                                <div class="cardEnd">
                                    <hr>
                                    <div class="courseInfo">
                                        <span><i class="far fa-chart-bar"></i> Advanced</span>
                                        <span><i class="fas fa-list-ul"></i> 8 Lectures</span>
                                        <span><i class="far fa-clock"></i> 6 Hours</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="cardImage">
                                <img src="img/photo-1416339134316-0e91dc9ded92-370x200.jpeg" alt="">
                                <div class="cardImageOverlay"></div>
                                <div class="specialBox">
                                    <p><strong>Special</strong></p>
                                </div>
                                <div class="costBox">
                                    <h2>69$</h2>
                                </div>
                            </div>
                            <div class="cardInfo">
                                <span><strong>Design Instruments for Communication</strong></span>
                                <p>Communication</p>
                                <div class="cardEnd">
                                    <hr>
                                    <div class="courseInfo">
                                        <span><i class="far fa-chart-bar"></i> Intermediate</span>
                                        <span><i class="fas fa-list-ul"></i> 8 Lectures</span>
                                        <span><i class="far fa-clock"></i> 6 Hours</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="cardImage">
                                <img src="img/cathryn-lavery-67852-unsplash-370x200.jpg" alt="">
                                <div class="cardImageOverlay"></div>
                                <div class="specialBox">
                                    <p><strong>Special</strong></p>
                                </div>
                                <div class="costBox">
                                    <h2>69$</h2>
                                </div>
                            </div>
                            <div class="cardInfo">
                                <span><strong>Make your Concept Right and Beautiful</strong></span>
                                <p>Art</p>
                                <div class="cardEnd">
                                    <hr>
                                    <div class="courseInfo">
                                        <span><i class="far fa-chart-bar"></i> Intermediate</span>
                                        <span><i class="fas fa-list-ul"></i> 8 Lectures</span>
                                        <span><i class="far fa-clock"></i> 6 Hours</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="cardImage">
                                <img src="img/photo-1475452779376-caebfb988090-370x200.jpeg" alt="">
                                <div class="cardImageOverlay"></div>
                                <div class="specialBox">
                                    <p><strong>Special</strong></p>
                                </div>
                                <div class="costBox">
                                    <h2>69$</h2>
                                </div>
                            </div>
                            <div class="cardInfo">
                                <span><strong>Road Bike Manual or How to Be a Champion</strong></span>
                                <p>Bicycling</p>
                                <div class="cardEnd">
                                    <hr>
                                    <div class="courseInfo">
                                        <span><i class="far fa-chart-bar"></i> Beginner</span>
                                        <span><i class="fas fa-list-ul"></i> 8 Lectures</span>
                                        <span><i class="far fa-clock"></i> 6 Hours</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Fine sezione New Courses -->

            <!-- Inizio sezione Book-->
        </main>
    </div>
    <script src="js/script.js"></script>
</body>
</html>